<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" routerLink="/popular">VISEO Cinéma+</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active">
					<a routerLink="/popular">Populaire</a>
				</li>
				<li routerLinkActive="active">
					<a routerLink="/top-rated">Meilleurs notes</a>
				</li>
				<li routerLinkActive="active">
					<a routerLink="/upcoming">Prochainement</a>
				</li>
				<li routerLinkActive="active">
					<a routerLink="/now-playing">En salles</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
